<h1 style="margin-left: 10px; margin-bottom: 20px;">Edit Contact</h1>

<script>
cascadingData = {
    <% @departments.each do |iter| %>
    '<%= iter[:org] %>' : [
        <% iter[:dept].each do |subiter| %>
        '<%= subiter %>',
        <% end %>
    ],
    <% end %>
};

cascadingFloors = {
    <% @floors.each do |iter| %>
    '<%= iter[:building] %>' : [
        <% iter[:floors].each do |subiter| %>
        '<%= subiter %>',
        <% end %>
    ],
    <% end %>
};
</script>
<script src="/js/helpme.js"></script>


<script src="/js/locstructure.js"></script>

<form method="post" action="/contact-save">
  <div class="col-6">
    <input name="code" value="<%= @rec == nil ? '' : @rec[:code] %>" type="hidden" />
    <div class="form-group">
      <label>Name</label>
      <input name="name" value="<%= @rec == nil ? '' : @rec[:name] %>" required="required" class="form-control" />
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input name="phone" value="<%= @rec == nil ? '' : @rec[:phone] %>" class="form-control" />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input name="email" value="<%= @rec == nil ? '' : @rec[:email] %>" class="form-control" />
    </div>


    <div class="form-group">
      <label>Contact's Organization</label>
      <select name="org" id="org" class="form-control" onchange="cascDdl()">
        <option></option>
        <% @departments.each do |iter| %>
        <option <%= (@rec != nil && @rec[:org] == iter[:org]) ? ' selected="selected"' : '' %>><%= iter[:org] %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label>Contact's Department</label>
      <select name="dept" id="dept" class="form-control">
        <option></option>
        <% if @rec != nil && @rec[:org] != nil && @rec[:org] != '' %>
	        <% if @departments.select{|e| e[:org] == @rec[:org]}.count > 0 %>
		        <% @departments.select{|e| e[:org] == @rec[:org]}[0][:dept].each do |iter| %>
			        <option <%= @rec[:dept] == iter ? ' selected="selected"' : '' %>><%= iter %></option>
		        <% end #do %>
	        <% end #if count %>
        <% end #if not nil %>
      </select>
    </div>

    <div class="form-group">
      <label>Location Description</label>
      <input name="locationdescription" value="<%= @rec == nil ? '' : @rec[:locationdescription] %>" class="form-control" />
    </div>


    <div class="form-group">
      <label>Location's Organization</label>
      <select name="locorg" id="locorg" class="form-control" onchange="loadSite(this)">
        <option></option>
        <% 
        if @locstruct != nil 
          #@locstruct is an array with all the location organizations
        %>
          <% @locstruct.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locorg] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Site</label>
      <select name="locsite" id="locsite" class="form-control" onchange="loadBldg(this)">
        <option></option>
        <% 
        sites = nil
        if @locstruct != nil && @rec != nil && @rec[:locorg] != '' && @locstruct.select { |x| x[:code] == @rec[:locorg] }.count > 0 
          sites = @locstruct.select { |x| x[:code] == @rec[:locorg] }[0][:children]
          #sites is an array with all the child-sites for the selected location-organization
        %>
          <% sites.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locsite] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Building</label>
      <select name="locbldg" id="locbldg" class="form-control" onchange="loadFloor(this)">
        <option></option>
        <% 
        bldgs = nil
        if sites != nil && sites.select { |x| x[:code] == @rec[:locsite] }.count > 0           
          bldgs = sites.select { |x| x[:code] == @rec[:locsite] }[0][:children]
        %>
          <% bldgs.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locbldg] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Floor</label>
      <select name="locfloor" id="locfloor" class="form-control" onchange="loadRoom(this)">
        <option></option>
        <% 
        floors = nil
        if bldgs != nil && bldgs.select { |x| x[:code] == @rec[:locbldg] }.count > 0           
          floors = bldgs.select { |x| x[:code] == @rec[:locbldg] }[0][:children]
        %>
          <% floors.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locfloor] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Room</label>
      <select name="locroom" id="locroom" class="form-control">
        <option></option>
        <% 
        rooms = nil
        if floors != nil && floors.select { |x| x[:code] == @rec[:locfloor] }.count > 0           
          rooms = floors.select { |x| x[:code] == @rec[:locfloor] }[0][:children]
        %>
          <% rooms.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locroom] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>


  </div>
  <div class="col-6">
  </div>
  <div>
    <input type="submit" value="Save" class="btn btn-primary" style="margin-left: 20px">
  </div>
</form>
