<h1 style="margin-top: 20px; margin-bottom: 20px;">Contact List</h1>

<div style="margin-bottom: 15px">
  <a href="/contact-detail/new" class="btn btn-primary" style="margin-right: 10px">
    Create New
  </a>
  <a href="javascript:document.getElementById('filterRow').style.display = 'table-row'; void(0);" class="btn btn-secondary">
    Filter Data
  </a>
</div>

<table class="table table-striped">
  <thead class="thead-inverse">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    <tr id="filterRow" style="<%= @params[:applyFilter] == '1' ? 'display: table-row;' : 'display: none;' %>">
      <form method="get" action="<%= request.url %>">
        <td><input name="name" value="<%= @params[:name] %>" placeholder="Filter by name" class="form-control" /></td>
        <td><input name="phone" value="<%= @params[:phone] %>" placeholder="Filter by phone" class="form-control" /></td>
        <td><input name="email" value="<%= @params[:email] %>" placeholder="Filter by email" class="form-control" /><input type="hidden" name="applyFilter" value="1" /><input type="submit" style="display: none;" /></td>
        <td></td>
      </form>
    </tr>
  <% @list.each do |iter| %>
      <tr>
        <td>
          <a href="/contact-detail/<%= iter[:code] %>">
            <%= iter[:name] %>
          </a>
        </td>
        <td>
          <a href="tel:<%= iter[:phone] %>">
            <%= iter[:phone] %>
          </a>
        </td>
        <td>
          <a href="mailto:<%= iter[:email] %>">
            <%= iter[:email] %>
          </a>
        </td>
        <td>
          <a href="/help-me?display=<%= (iter[:name] == nil || iter[:name] == '') ? '' : CGI::escape(iter[:name]) %>&phone=<%= (iter[:phone] == nil || iter[:phone] == '') ? '' : CGI::escape(iter[:phone]) %>&email=<%= (iter[:email] == nil || iter[:email] == '') ? '' : CGI::escape(iter[:email]) %>&org=<%= (iter[:org] == nil || iter[:org] == '') ? '' : CGI::escape(iter[:org]) %>&dept=<%= (iter[:dept] == nil || iter[:dept] == '') ? '' : CGI::escape(iter[:dept]) %>&locorg=<%= (iter[:locorg] == nil || iter[:locorg] == '') ? '' : CGI::escape(iter[:locorg]) %>&locsite=<%= (iter[:locsite] == nil || iter[:locsite] == '') ? '' : CGI::escape(iter[:locsite]) %>&locbldg=<%= (iter[:locbldg] == nil || iter[:locbldg] == '') ? '' : CGI::escape(iter[:locbldg]) %>&locfloor=<%= (iter[:locfloor] == nil || iter[:locfloor] == '') ? '' : CGI::escape(iter[:locfloor]) %>&locroom=<%= (iter[:locroom] == nil || iter[:locroom] == '') ? '' : CGI::escape(iter[:locroom]) %>&locationdescription=<%= (iter[:locationdescription] == nil || iter[:locationdescription] == '') ? '' : CGI::escape(iter[:locationdescription]) %>&contactid=<%= iter[:code] %>" class="btn btn-primary">
            Create Ticket
          </a>
        </td>
      </tr>
  <% end%>
  </tbody>
</table>
