<style>
  input[required] {
    border: solid 2px #bbd;
  }
  /*	label.required:after {
      content: "*";
    }*/
  /*content: " (" attr(href) ")";*/
</style>

<h1 style="margin-top: 20px; margin-bottom: 20px;">Service Request</h1>

<script>
cascadingData = {
    <% @departments.each do |iter| %>
    '<%= iter[:org] %>' : [
        <% iter[:dept].each do |subiter| %>
        '<%= subiter %>',
        <% end %>
    ],
    <% end %>
};

cascadingFloors = {
    <% @floors.each do |iter| %>
    '<%= iter[:building] %>' : [
        <% iter[:floors].each do |subiter| %>
        '<%= subiter %>',
        <% end %>
    ],
    <% end %>
};
</script>
<script src="/js/helpme.js"></script>



<script src="/js/locstructure.js"></script>

<form method="post" action="#" class="row"><!--confirm.html enctype="multipart/form-data" -->
  <div class="col-6">
    <div class="form-group">
      <label>Contact Name</label>
      <input name="name" required="required" class="form-control" value="<%= @display != nil ? @display : '' %>" />
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input name="phone" type="tel" class="form-control" value="<%= @phone != nil ? @phone : '' %>" /><!-- pattern="^\+[0-9]{11,12}$" title="+971501545643"-->
    </div>
    <div class="form-group">
      <label>Email</label>
      <input name="email" type="email" class="form-control" value="<%= @email != nil ? @email : '' %>" />
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label>Complaint</label>
      <input name="complaint" required="required" class="form-control" />
    </div>
    <div class="form-group">
      <label>Organization</label>
      <select name="org" id="org" class="form-control" onchange="cascDdl()">
        <option></option>
        <% @departments.each do |iter| %>
        <option <%= (@params != nil && @params[:org] == iter[:org]) ? ' selected="selected"' : '' %>><%= iter[:org] %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label>Department</label>
      <select name="dept" id="dept" class="form-control">
        <option></option>
        <% if @params != nil && @params[:org] != nil && @params[:org] != '' %>
          <% if @departments.select{|e| e[:org] == @params[:org]}.count > 0 %>
            <% @departments.select{|e| e[:org] == @params[:org]}[0][:dept].each do |iter| %>
              <option <%= @params[:dept] == iter ? ' selected="selected"' : '' %>><%= iter %></option>
            <% end #do %>
          <% end #if count %>
        <% end #if not nil %>
      </select>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label>Description</label>
      <textarea name="description" class="form-control" rows="7"></textarea>
    </div>
  </div>


  <div class="col-6">
    <div class="form-group">
      <label>Building</label>
      <select name="building" id="building" class="form-control" onchange="cascFloorDdl()">
        <option></option>
        <% @floors.each do |iter| %>
            <option <%= (@params != nil && @params[:building] == iter[:building]) ? ' selected="selected"' : '' %>><%= iter[:building] %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label>Floor</label>
      <select name="floor" id="floor" class="form-control">
        <option></option>
        <% if @params != nil && @params[:building] != nil && @params[:building] != '' %>
          <% if @floors.select{|e| e[:building] == @params[:building]}.count > 0 %>
            <% @floors.select{|e| e[:building] == @params[:building]}[0][:floors].each do |iter| %>
              <option <%= @params[:floor] == iter ? ' selected="selected"' : '' %>><%= iter %></option>
            <% end #do %>
          <% end #if count %>        
        <% end #if not nil %>

      </select>
      <!-- <input name="floor" id="floor" class="form-control" /> -->
      <!-- pattern="^\+[0-9]{11,12}$" title="+971501545643"-->
    </div>
    <div class="form-group">
      <label>Room</label>
      <input name="room" class="form-control" value="<%= (@params == nil || @params[:room] == nil || @params[:room] == '') ? '' : @params[:room] %>" />
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label>Location</label>
      <input name="locationdescription" class="form-control" value="<%= (@params == nil || @params[:locationdescription] == nil || @params[:locationdescription] == '') ? '' : @params[:locationdescription] %>" />
    </div>
  </div>



<% #@rec will always be nil for the loc structure fields on this page %>

  <div class="col-12">
    <div class="form-group">
      <label>Location's Organization</label>
      <select name="locorg" id="locorg" class="form-control" onchange="loadSite(this)">
        <option></option>
        <% 
        if @locstruct != nil 
          #@locstruct is an array with all the location organizations
        %>
          <% @locstruct.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locorg] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Site</label>
      <select name="locsite" id="locsite" class="form-control" onchange="loadBldg(this)">
        <option></option>
        <% 
        sites = nil
        if @locstruct != nil && @rec != nil && @rec[:locorg] != '' && @locstruct.select { |x| x[:code] == @rec[:locorg] }.count > 0 
          sites = @locstruct.select { |x| x[:code] == @rec[:locorg] }[0][:children]
          #sites is an array with all the child-sites for the selected location-organization
        %>
          <% sites.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locsite] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Building</label>
      <select name="locbldg" id="locbldg" class="form-control" onchange="loadFloor(this)">
        <option></option>
        <% 
        bldgs = nil
        if sites != nil && sites.select { |x| x[:code] == @rec[:locsite] }.count > 0           
          bldgs = sites.select { |x| x[:code] == @rec[:locsite] }[0][:children]
        %>
          <% bldgs.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locbldg] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Floor</label>
      <select name="locfloor" id="locfloor" class="form-control" onchange="loadRoom(this)">
        <option></option>
        <% 
        floors = nil
        if bldgs != nil && bldgs.select { |x| x[:code] == @rec[:locbldg] }.count > 0           
          floors = bldgs.select { |x| x[:code] == @rec[:locbldg] }[0][:children]
        %>
          <% floors.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locfloor] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Room</label>
      <select name="locroom" id="locroom" class="form-control">
        <option></option>
        <% 
        rooms = nil
        if floors != nil && floors.select { |x| x[:code] == @rec[:locfloor] }.count > 0           
          rooms = floors.select { |x| x[:code] == @rec[:locfloor] }[0][:children]
        %>
          <% rooms.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locroom] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
  </div>


  <div>
    <input type="submit" value="Submit Request" class="btn btn-primary" style="margin-left: 20px">
  </div>
  <!--<input type="hidden" name="status" value="open">-->
</form>
