<!doctype html><html lang="en">
<head>
  <script src="https://use.fontawesome.com/3ec5164e11.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <title></title>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <% if (defined? AppConfig::UI_LOGO_URL != nil) %>
      <img src="<%= AppConfig::UI_LOGO_URL %>" alt="<%= (defined? AppConfig::UI_LOGO_ALT_TEXT != nil) ? AppConfig::UI_LOGO_ALT_TEXT : 'Service Desk' %>" />
    <% else %>
      Service Portal
    <% end %>
  </a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <% if @username == nil || @username == '' %>
      <li class="nav-item">
        <a class="nav-link" href="/help-me">Submit New Request</a>
      </li>
      <% end %>

      <% if ['helpdesk', 'admin'].include? @rolename %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Call Center</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/tickets-list">Service Requests</a>
              <a class="dropdown-item" href="/contact-list">Contacts</a>
            </div>
          </li>
      <% end %>

      <% if @rolename == 'admin' %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/parts-list">Parts</a>
              <a class="dropdown-item" href="/personnel-list">Personnel</a>
              <a class="dropdown-item" href="/services-list">Services</a>
              <a class="dropdown-item" href="/stores-list">Stores</a>
              <a class="dropdown-item" href="/uoms-list">UOM</a>
            </div>
          </li>
      <% end %>

      <% if ['admin'].include? @rolename %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/users-list">Users</a>
            </div>
          </li>
      <% end %>

      <% if @username != nil && @username != '' %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      <% end %>
    </ul>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  -->
  </div>
</nav>


<div class="container" style="margin-top: 110px;">
  <%= yield %>
</div>

<% if @showpager == true %>
    <% if @totalrowcount > @pagesize %>
        <%
          @next = @skip + @pagesize
          @prev = (@skip - @pagesize) < 0 ? 0 : (@skip - @pagesize)
        %>
        <% if @skip > 0 %>
            <a href="?skip=<%= @prev %>" class="btn btn-primary btn-sm" style="margin-right: 15px">Prev</a>
        <% end %>
        <% if @skip+@pagesize < @totalrowcount %>
            <a href="?skip=<%= @next %>" class="btn btn-primary btn-sm">Next</a>
        <% end %>
    <% end # if @totalrowcount > @pagesize %>
<% end %>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>