<h1 style="margin-left: 10px; margin-bottom: 20px;">Edit Part</h1>

<script src="/js/reformery.js"></script>

<form method="post" action="/part-save">
  <div class="col-6 col-md-12 col-sm-12">
    <div class="form-group">
      <label>Code</label>
      <input name="code" value="<%= @rec == nil ? '' : @rec[:code] %>" required="required" class="form-control" onblur="toUpperInput(this);" style="text-transform: uppercase;" />
    </div>
    <div class="form-group">
      <label>Name</label>
      <input name="name" value="<%= @rec == nil ? '' : @rec[:name] %>" required="required" class="form-control" />
    </div>
    <div class="form-group">
      <label>Description</label>
      <input name="description" value="<%= @rec == nil ? '' : @rec[:description] %>" class="form-control" />
    </div>
    <div class="form-group">
      <label>UOM</label>
      <select name="uom" class="form-control">
        <% @uoms.each do |iteruom| %>
            <option<%= @rec == nil ? '' : (@rec[:uom] == iteruom ? ' selected' : '') %>><%= iteruom %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label>Type</label>
      <select name="type" class="form-control">
        <% @parttypes.each do |itertype| %>
            <option<%= @rec == nil ? '' : (@rec[:type] == itertype ? ' selected' : '') %>><%= itertype %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="col-6 col-md-12 col-sm-12">
  </div>
  <div>
    <input type="submit" value="Save" class="btn btn-primary" style="margin-left: 20px">
  </div>
</form>
