<h1 style="margin-top: 20px; margin-bottom: 20px;">Service List</h1>

<div style="margin-bottom: 15px">
  <a href="/service-detail/new" class="btn btn-primary">
    Create New
  </a>
</div>

<table class="table table-striped">
  <thead class="thead-inverse">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>UOM</th>
    <th>Type</th><!-- Fixed Price, By Unit -->
  </tr>
  </thead>
  <tbody>
  <% @list.each do |iter| %>
      <tr>
        <td>
          <a href="/service-detail/<%= iter[:code] %>">
            <%= iter[:code] %>
          </a>
        </td>
        <td>
          <%= iter[:name] %>
        </td>
        <td>
          <%= iter[:description] %>
        </td>
        <td>
          <%= iter[:uom] %>
        </td>
        <td>
          <%= iter[:type] %>
        </td>
      </tr>
  <% end%>
  </tbody>
</table>
