<h1 style="margin-top: 20px; margin-bottom: 20px;">Stores List</h1>

<div style="margin-bottom: 15px">
  <a href="/store-detail/new" class="btn btn-primary">
    Create New
  </a>
  <a href="javascript:document.getElementById('filterRow').style.display = 'table-row'; void(0);" class="btn btn-secondary">
    Filter Data
  </a>
</div>

<table class="table table-striped">
  <thead class="thead-inverse">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr id="filterRow" style="<%= @params[:applyFilter] == '1' ? 'display: table-row;' : 'display: none;' %>">
    <form method="get" action="<%= request.url %>">
      <td><input name="code" value="<%= @params[:code] %>" placeholder="Filter by code" class="form-control" /></td>
      <td><input name="name" value="<%= @params[:name] %>" placeholder="Filter by name" class="form-control" /></td>
      <td><input name="description" value="<%= @params[:description] %>" placeholder="Filter by description" class="form-control" /></td>
      <td></td>
      <td>
        <!-- Place a hidden submit button to enable Enter-to-submit in Chrome -->
        <input type="hidden" name="applyFilter" value="1" /><input type="submit" style="display: none;" />
      </td>
    </form>
  </tr>
  <% @list.each do |iter| %>
      <tr>
        <td>
          <a href="/store-detail/<%= iter[:code] %>">
            <%= iter[:code] %>
          </a>
        </td>
        <td>
          <%= iter[:name] %>
        </td>
        <td>
          <%= iter[:description] %>
        </td>
      </tr>
  <% end%>
  </tbody>
</table>
