<%
fields = {
    'code' => 'SR #',
    'name' => 'Name',
    'phone' => 'Phone',
    'email' => 'Email',
    'org' => 'Requester Organization',
    'dept' => 'Requester Department',
    'complaint' => 'Complaint',
    'description' => 'Description',
#    'building' => 'Building',
#    'floor' => 'Floor',
#    'room' => 'Room',
    'locationdescription' => 'Location Description',
    'assigned' => 'Assigned To'
}

editablefields = ['name', 'phone', 'email', 'complaint', 'description', 'locationdescription'] #'room', 
dropdownfields = ['org', 'dept','assigned' ] #'building', 'floor']
%>



<script>
cascadingData = {
    <% @departments.each do |iter| %>
    '<%= iter[:org] %>' : [
        <% iter[:dept].each do |subiter| %>
        '<%= subiter %>',
        <% end %>
    ],
    <% end %>
};

cascadingFloors = {
    <% @floors.each do |iter| %>
    '<%= iter[:building] %>' : [
        <% iter[:floors].each do |subiter| %>
        '<%= subiter %>',
        <% end %>
    ],
    <% end %>
};
</script>
<script src="/js/helpme.js"></script>

<script src="/js/ajaxhelper.js"></script>
<script src="/js/locstructure.js"></script>
<script src="/js/partsddl.js"></script>


<% if @params[:msg] != nil && @params[:msg] != '' %>
    <div class="alert alert-warning">
      <%= @params[:msg] %>
    </div>
<% end %>


<% if @rolename != 'requester' %>
<form method="post" action="/ticket-status" class="form-inline" style="margin-bottom: 20px;">
  <label style="margin-right: 10px;">Status</label>
  <input type="hidden" name="code" value="<%= @rec[:code] %>" />
  <select name="status" class="form-control form-control-sm" style="margin-right: 10px;">
    <% @statuses.each do |iterstat| %>
        <option <%= iterstat==@rec[:status]?'selected':'' %>><%= iterstat %></option>
    <% end %>
  </select>
  <input type="submit" value="Set Status" class="btn btn-primary btn-sm" />
</form>
<% end %>


<form method="post" action="">
<%
  fields.each do |colname,labeltxt|
    if !( colname=='comments' ||  (dropdownfields.include? colname) )
%>
<div class="row" style="margin-bottom: 10px">
  <div class="col-2" style="font-weight: bold;"><%= labeltxt %></div>
  <div class="col-4">
    <% if editablefields.include? colname %>
      <input name="<%= colname %>" value="<%= @rec[colname] %>" class="form-control" />
    <% else %>
      <span class="form-control"><%= @rec[colname] %></span>
    <% end %>

    <% if false %>
      <%= ('phone' == colname) ? '<a href="tel:' + @rec[colname] + '">.</a> ' : '' %>
      <%= ('email' == colname) ? '<a href="mailto:' + @rec[colname] + '">.</a> ' : '' %>
    <% end %>
  </div>
</div>
<% end #if %>
<% end #each %>


<div class="row" style="margin-bottom: 10px">
    <div class="col-2">
      <label style="font-weight: bold;">Requester Organization</label>
    </div>
    <div class="col-4">
      <select name="org" id="org" class="form-control" onchange="cascDdl()">
        <option></option>
        <% @departments.each do |iter| %>
        <option <%= @rec[:org] == iter[:org] ? ' selected="selected"' : '' %>><%= iter[:org] %></option>
        <% end %>
      </select>
    </div>
</div>
<div class="row" style="margin-bottom: 10px">
    <div class="col-2">
      <label style="font-weight: bold;">Requester Department</label>
    </div>
    <div class="col-4">
      <select name="dept" id="dept" class="form-control">
        <option></option>
        <% if @rec[:org] != nil && @rec[:org] != '' %>
        <% @departments.select{|e| e[:org] == @rec[:org]}[0][:dept].each do |iter| %>
        <option <%= @rec[:dept] == iter ? ' selected="selected"' : '' %>><%= iter %></option>
        <% end #do %>
        <% end #if %>
      </select>
    </div>
</div>







  <div class="col-12">
    <div class="form-group">
      <label>Location's Organization</label>
      <select name="locorg" id="locorg" class="form-control" onchange="loadSite(this)">
        <option></option>
        <% 
        if @locstruct != nil 
          #@locstruct is an array with all the location organizations
        %>
          <% @locstruct.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locorg] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Site</label>
      <select name="locsite" id="locsite" class="form-control" onchange="loadBldg(this)">
        <option></option>
        <% 
        sites = nil
        if @locstruct != nil && @rec != nil && @rec[:locorg] != '' && @locstruct.select { |x| x[:code] == @rec[:locorg] }.count > 0 
          sites = @locstruct.select { |x| x[:code] == @rec[:locorg] }[0][:children]
          #sites is an array with all the child-sites for the selected location-organization
        %>
          <% sites.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locsite] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Building</label>
      <select name="locbldg" id="locbldg" class="form-control" onchange="loadFloor(this)">
        <option></option>
        <% 
        bldgs = nil
        if sites != nil && sites.select { |x| x[:code] == @rec[:locsite] }.count > 0           
          bldgs = sites.select { |x| x[:code] == @rec[:locsite] }[0][:children]
        %>
          <% bldgs.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locbldg] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Floor</label>
      <select name="locfloor" id="locfloor" class="form-control" onchange="loadRoom(this)">
        <option></option>
        <% 
        floors = nil
        if bldgs != nil && bldgs.select { |x| x[:code] == @rec[:locbldg] }.count > 0           
          floors = bldgs.select { |x| x[:code] == @rec[:locbldg] }[0][:children]
        %>
          <% floors.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locfloor] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
    <div class="form-group">
      <label>Room</label>
      <select name="locroom" id="locroom" class="form-control">
        <option></option>
        <% 
        rooms = nil
        if floors != nil && floors.select { |x| x[:code] == @rec[:locfloor] }.count > 0           
          rooms = floors.select { |x| x[:code] == @rec[:locfloor] }[0][:children]
        %>
          <% rooms.each do |iter| %>
            <option <%= (@rec != nil && @rec[:locroom] == iter[:code]) ? ' selected="selected"' : '' %> value="<%= iter[:code] %>"><%= iter[:name] %></option>
          <% end #do %>
        <% end #if %>
      </select>
    </div>
  </div>





<input type="submit" value="Save" class="btn btn-primary" />
</form>
<br /><br />

<!-- Assigned to -->
<h4>Assigned personnel</h4>

<%
  if @rec['assigned'] != nil
    @rec['assigned'].each do |itercomm|
%>
        <div class="col-6" style="background-color: #fff9c2; padding: 8px; margin: 15px 0; border-radius: 8px;">
          <strong><%= self.get_user_display_from_id(itercomm[:by]) %></strong> <small><%= DateTime.parse(itercomm[:at]).strftime('on %B %d, %Y at %l:%M%P') %></small><br />
          <%= self.get_personnel_name_from_id(itercomm[:assigned]) %>
          <form method="post" action="/assign-delete/<%= @rec[:code] %>">
            <input type="hidden" name="assigned_code" value="<%= itercomm[:assigned] %>" />
            <input type="submit" value="Delete" class="btn btn-secondary" />
          </form>
        </div>
<%
  end
  end
%>

<div class="row" style="margin-bottom: 10px">
    <form method="post" action="/ticket-assign/<%= @rec[:code] %>" style="margin-bottom: 20px;" class="form-inline">
      <label class="md-3" style="margin-right: 10px">Assign to</label>
      <select name="assigned" required class="form-control md-3" style="margin-right: 10px">
        <option></option>
        <% @personnel.each do |iterperson| %>
            <option value="<%= iterperson[:code] %>"<%= (@rec[:assigned] == iterperson[:code]) ? ' selected="selected"' : '' %>><%= iterperson[:name] %></option>
        <% end %>
      </select>
      <input type="submit" value="Assign" class="btn btn-primary btn-sm md-3" />
    </form>
</div>

<!-- Parts -->

<h4>Parts</h4>

<%
  if @rec['parts'] != nil
  @rec['parts'].each do |itercomm|
%>
  <div class="col-6" style="background-color: #fff9c2; padding: 8px; margin: 15px 0; border-radius: 8px;">
    <strong>Part Code:</strong> <%= itercomm[:part] %> <br />
    <strong>Qty:</strong> <%= itercomm[:qty] %> <br />
    <strong>UOM:</strong> <%= itercomm[:uom] %> <br />
    <form method="post" action="/ticket-part-remove/<%= @rec[:code] %>">
      <input type="hidden" name="part" value="<%= itercomm[:part] %>" />
      <input type="submit" value="Delete" class="btn btn-secondary" />
    </form>
  </div>
<%
  end
  end
%>

<div class="row">
  <div class="col-12">
    <h5>Add Parts</h5>
    <form method="post" style="background-color: #fff9c2; border-radius: 8px; padding: 10px; margin-bottom: 20px" action="/ticket-part/<%= @rec[:code] %>" enctype="multipart/form-data" style="margin-bottom: 20px;" class="form-inline">
      <input type="text" name="qty" class="form-control md-6" />
      <select class="form-control  md-3" style="margin-right: 8px" name="code" onchange="partselchg(this);">
        <option></option>
        <% @parts.each do |itertag| %>
          <option value="<%= itertag[:code] %>" data-uom="<%= itertag[:uom] %>">
            <%= itertag[:code] %> - <%= itertag[:name] %>
          </option>
        <% end %>
      </select>
      <select class="form-control md-3" style="margin-right: 8px" name="uom" id="uomddl">
        <option></option>
      </select>
      <input type="submit" value="Add / Update" class="btn btn-primary md-3">
    </form>
  </div>
</div>

<!-- Attachments -->

<h4>Attachments</h4>

<%
  if @rec['attachments'] != nil
  @rec['attachments'].each do |itercomm|
%>
  <div class="col-6" style="background-color: #fff9c2; padding: 8px; margin: 15px 0; border-radius: 8px;">
    <strong><%= self.get_user_display_from_id(itercomm[:by]) %></strong> <small><%= DateTime.parse(itercomm[:at]).strftime('on %B %d, %Y at %l:%M%P') %></small><br />
    <a download="<%= itercomm[:filename] %>" href="/<%= ( ('public/' == @uploaddir[0..('public/'.length-1)]) ? @uploaddir['public/'.length..@uploaddir.length-1] : @uploaddir )+'/'+itercomm[:storedas] %>"><%= itercomm[:filename] %></a> 
      <% if itercomm[:tags] != nil && itercomm[:tags] != [] %>
        <%= '<span class="badge badge-pill badge-info">' + itercomm[:tags].join('</span> <span class="badge badge-secondary">') + '</span>' %>
      <% end %>
    <form method="post" action="/ticket-attach-remove/<%= @rec[:code] %>">
      <input type="hidden" name="storedas" value="<%= itercomm[:storedas] %>" />
      <input type="submit" value="Delete" class="btn btn-secondary" />
    </form>
  </div>
<%
  end
  end
%>

<div class="row">
  <div class="col-12">
    <h5>Add Attachment</h5>
    <form method="post" style="background-color: #fff9c2; border-radius: 8px; padding: 10px; margin-bottom: 20px" action="/ticket-attach/<%= @rec[:code] %>" enctype="multipart/form-data" style="margin-bottom: 20px;" class="form-inline">
      <input type="file" style="margin-right: 8px" name="file" class="form-control md-6" <%= (@uploadfilter == []) ? '' : (' accept="' + @uploadfilter.join(',') + '"') %>>
      <select class="form-control  md-3" style="margin-right: 8px" name="filetag">
        <option></option>
        <% @filetag.each do |itertag| %>
        <option><%= itertag %></option>
        <% end %>
      </select>
      <input type="submit" value="Upload" class="btn btn-primary md-3">
    </form>
  </div>
</div>

<!-- Comments -->

<h4>Comments</h4>

<%
  if @rec['comments'] != nil
  @rec['comments'].each do |itercomm|
%>
  <div class="col-6" style="background-color: #fff9c2; padding: 8px; margin: 15px 0; border-radius: 8px;">
    <strong><%= self.get_user_display_from_id(itercomm[:by]) %></strong> <small><%= DateTime.parse(itercomm[:at]).strftime('on %B %d, %Y at %l:%M%P') %></small><br />
    <%= itercomm[:txt] %>
    <form method="post" action="/comment-delete/<%= @rec[:code] %>">
      <input type="hidden" name="at" value="<%= itercomm[:at] %>" />
      <input type="hidden" name="by" value="<%= itercomm[:by] %>" />
      <input type="submit" value="Delete" class="btn btn-secondary" />
    </form>
  </div>
<%
  end
  end
%>

<form method="post" action="/comment-add/<%= @rec[:code] %>" style="margin-bottom: 20px;">
  <textarea class="form-control col-6" style="margin-bottom: 15px;" name="txt" placeholder="Enter comment here"></textarea>
  <input type="submit" value="Post Comment" class="btn btn-primary btn-sm" />
</form>
