<%
fields = {
    'code' => 'SR #',
    'name' => 'Name',
    'phone' => 'Phone',
    'email' => 'Email',
    'org' => 'Organization',
    'dept' => 'Department',
    'complaint' => 'Complaint',
    'description' => 'Description',
    'building' => 'Building',
    'floor' => 'Floor',
    'room' => 'Room',
    'locationdescription' => 'Location Info',
#    'assigned' => 'Assigned To'
}

editablefields = ['name', 'phone', 'email', 'complaint', 'description', 'room', 'locationdescription']
dropdownfields = ['org', 'dept', 'building', 'floor']
%>



<script>
cascadingData = {
    <% @departments.each do |iter| %>
    '<%= iter[:org] %>' : [
        <% iter[:dept].each do |subiter| %>
        '<%= subiter %>',
        <% end %>
    ],
    <% end %>
};

cascadingFloors = {
    <% @floors.each do |iter| %>
    '<%= iter[:building] %>' : [
        <% iter[:floors].each do |subiter| %>
        '<%= subiter %>',
        <% end %>
    ],
    <% end %>
};
</script>
<script src="/js/helpme.js"></script>



<% if @rolename != 'requester' %>
<form method="post" action="/ticket-status" class="form-inline" style="margin-bottom: 20px;">
  <label style="margin-right: 10px;">Status</label>
  <input type="hidden" name="code" value="<%= @rec[:code] %>" />
  <select name="status" class="form-control form-control-sm" style="margin-right: 10px;">
    <% @statuses.each do |iterstat| %>
        <option <%= iterstat==@rec[:status]?'selected':'' %>><%= iterstat %></option>
    <% end %>
  </select>
  <input type="submit" value="Set Status" class="btn btn-primary btn-sm" />
</form>
<% end %>


<form method="post" action="">
<%
  fields.each do |colname,labeltxt|
    if !( colname=='comments' ||  (dropdownfields.include? colname) )
%>
<div class="row" style="margin-bottom: 10px">
  <div class="col-2" style="font-weight: bold;"><%= labeltxt %></div>
  <div class="col-4">
    <% if editablefields.include? colname %>
      <input name="<%= colname %>" value="<%= @rec[colname] %>" class="form-control" />
    <% else %>
      <span class="form-control"><%= @rec[colname] %></span>
    <% end %>

    <% if false %>
      <%= ('phone' == colname) ? '<a href="tel:' + @rec[colname] + '">.</a> ' : '' %>
      <%= ('email' == colname) ? '<a href="mailto:' + @rec[colname] + '">.</a> ' : '' %>
    <% end %>
  </div>
</div>
<% end #if %>
<% end #each %>


<div class="row" style="margin-bottom: 10px">
    <div class="col-2">
      <label style="font-weight: bold;">Organization</label>
    </div>
    <div class="col-4">
      <select name="org" id="org" class="form-control" onchange="cascDdl()">
        <option></option>
        <% @departments.each do |iter| %>
        <option <%= @rec[:org] == iter[:org] ? ' selected="selected"' : '' %>><%= iter[:org] %></option>
        <% end %>
      </select>
    </div>
</div>
<div class="row" style="margin-bottom: 10px">
    <div class="col-2">
      <label style="font-weight: bold;">Department</label>
    </div>
    <div class="col-4">
      <select name="dept" id="dept" class="form-control">
        <option></option>
        <% @departments.select{|e| e[:org] == @rec[:org]}[0][:dept].each do |iter| %>
        <option <%= @rec[:dept] == iter ? ' selected="selected"' : '' %>><%= iter %></option>
        <% end %>
      </select>
    </div>
</div>


<div class="row" style="margin-bottom: 10px">
    <div class="col-2">
      <label style="font-weight: bold;">Building</label>
    </div>
    <div class="col-4">
      <select name="building" id="building" class="form-control" onchange="cascFloorDdl()">
        <option></option>
        <% @floors.each do |iter| %>
            <option <%= @rec[:building] == iter[:building] ? ' selected="selected"' : '' %>><%= iter[:building] %></option>
        <% end %>
      </select>
    </div>
</div>

<div class="row" style="margin-bottom: 10px">
    <div class="col-2">
      <label style="font-weight: bold;">Floor</label>
    </div>
    <div class="col-4">
      <select name="floor" id="floor" class="form-control">
        <option></option>
        <% @floors.select{|e| e[:building] == @rec[:building]}[0][:floors].each do |iter| %>
        <option <%= @rec[:floor] == iter ? ' selected="selected"' : '' %>><%= iter %></option>
        <% end %>
      </select>
    </div>
</div>


<input type="submit" value="Save" class="btn btn-primary" />
</form>
<br /><br />

<div class="row" style="margin-bottom: 10px">
  <div class="col-2" style="font-weight: bold;">Assigned To</div>
  <div class="col-4" style="">
    <form method="post" action="/ticket-assign/<%= @rec[:code] %>" style="margin-bottom: 20px;" class="form-inline">
      <select name="assigned" class="form-control" style="margin-right: 10px">
        <option></option>
        <% @personnel.each do |iterperson| %>
            <option value="<%= iterperson[:code] %>"<%= (@rec[:assigned] == iterperson[:code]) ? ' selected="selected"' : '' %>><%= iterperson[:name] %></option>
        <% end %>
      </select>
      <input type="submit" value="Assign" class="btn btn-primary btn-sm" />
    </form>
  </div>
</div>


<%
  if @rec['comments'] != nil
  @rec['comments'].each do |itercomm|
%>
  <div class="col-6" style="background-color: #fff9c2; padding: 8px; margin: 15px 0; border-radius: 8px;">
    <strong><%= self.get_user_display_from_id(itercomm[:by]) %></strong> <small><%= DateTime.parse(itercomm[:at]).strftime('on %B %d, %Y at %l:%M%P') %></small><br />
    <%= itercomm[:txt] %>
  </div>
<%
  end
  end
%>

<form method="post" action="/comment-add/<%= @rec[:code] %>" style="margin-bottom: 20px;">
  <textarea class="form-control col-6" style="margin-bottom: 15px;" name="txt"></textarea>
  <input type="submit" value="Post Comment" class="btn btn-primary btn-sm" />
</form>
