<h1 style="margin-top: 20px; margin-bottom: 20px;">Service Request</h1>

<!--
TODO: This should append to the query string to ensure it plays nice with the paging
<div style="margin-bottom: 15px;">
  Filter: <span class="badge badge-info"><a href="#">All</a></span> <span class="badge badge-info"><a href="?filter_status=New">New</a></span>
</div>
-->

<table class="table table-striped">
  <thead class="thead-inverse">
  <tr>
    <th>SR #</th>
    <th>Complaint</th>
    <th>Last Updated</th>
    <% if @rolename != 'requester' %>
      <th>Actions</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @list.each do |iter| %>
      <tr>
        <td>
          <a href="/ticket-detail/<%= iter[:code] %>">
            <%= iter[:code] %>
          </a>
        </td>
        <td>
          <span class="badge badge-info"><%= iter[:status] %></span><!-- TODO: associate status with info, warning, danger -->
          <%= iter[:complaint] %>
        </td>
        <td><%= iter[:updatedat] %></td>
        <% if @rolename != 'requester' %>
            <td>
              <form method="post" action="/ticket-status" class="form-inline">
                <input type="hidden" name="code" value="<%= iter[:code] %>" />
                <select name="status" class="form-control form-control-sm" style="margin-right: 10px;">
                  <% @statuses.each do |iterstat| %>
                  <option <%= iterstat==iter[:status]?'selected':'' %>><%= iterstat %></option>
                  <% end %>
                </select>
                <input type="submit" value="Set Status" class="btn btn-primary btn-sm" />
              </form>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="alert alert-info">
  Click on the request ID to view details of the event
</div>

<% if @totalrowcount > @pagesize %>

<%
  @next = @skip + @pagesize
  @prev = (@skip - @pagesize) < 0 ? 0 : (@skip - @pagesize)
%>

<% if @skip > 0 %>
<a href="?skip=<%= @prev %>" class="btn btn-primary btn-sm" style="margin-right: 15px">Prev</a>
<% end %>
&nbsp;
<% if @skip+@pagesize < @totalrowcount %>
<a href="?skip=<%= @next %>" class="btn btn-primary btn-sm">Next</a>
<% end %>

<% end # if @totalrowcount > @pagesize %>
