<h1 style="margin-top: 20px; margin-bottom: 20px;">Service Request</h1>

<!--
TODO: This should append to the query string to ensure it plays nice with the paging
<div style="margin-bottom: 15px;">
  Filter: <span class="badge badge-info"><a href="#">All</a></span> <span class="badge badge-info"><a href="?filter_status=New">New</a></span>
</div>
-->

<div style="margin-bottom: 15px">
  <a href="/help-me" class="btn btn-primary" style="margin-right: 10px">
    Create New
  </a>
  <a href="javascript:document.getElementById('filterRow').style.display = 'table-row'; void(0);" class="btn btn-secondary">
    Filter Data
  </a>
</div>

<table class="table table-striped">
  <thead class="thead-inverse">
  <tr>
    <th>SR #</th>
    <th>Complaint</th>
    <th>Last Updated</th>
    <% if @rolename != 'requester' %>
      <th>Actions</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr id="filterRow" style="<%= @params[:applyFilter] == '1' ? 'display: table-row;' : 'display: none;' %>">
    <form method="get" action="<%= request.url %>">
      <td><input name="code" value="<%= @params[:code] %>" placeholder="Filter by code" class="form-control" /></td>
      <td><input name="complaint" value="<%= @params[:complaint] %>" placeholder="Filter by complaint" class="form-control" /></td>
      <td></td>
      <td><input name="status" value="<%= @params[:status] %>" placeholder="Filter by status" class="form-control" /><input type="hidden" name="applyFilter" value="1" /><input type="submit" style="display: none;" /></td>
    </form>
  </tr>
  <% @list.each do |iter| %>
      <tr>
        <td>
          <a href="/ticket-detail/<%= iter[:code] %>">
            <%= iter[:code] %>
          </a>
        </td>
        <td>
          <span class="badge badge-info"><%= iter[:status] %></span><!-- TODO: associate status with info, warning, danger -->
          <%= iter[:complaint] %>
        </td>
        <td><%= DateTime.parse(iter[:updatedat]).strftime('%B %d, %Y %l:%M%P') %></td>
        <% if @rolename != 'requester' %>
            <td>
              <form method="post" action="/ticket-status" class="form-inline">
                <input type="hidden" name="code" value="<%= iter[:code] %>" />
                <select name="status" class="form-control form-control-sm" style="margin-right: 10px;">
                  <% @statuses.each do |iterstat| %>
                  <option <%= iterstat==iter[:status]?'selected':'' %>><%= iterstat %></option>
                  <% end %>
                </select>
                <input type="submit" value="Set Status" class="btn btn-primary btn-sm" />
              </form>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="alert alert-info">
  Click on the request ID to view details of the event
</div>
