<script>
function toggleCreateUserDiv(e) {
    document.getElementById('divCreateUser').style.display
        =
        document.getElementById('divCreateUser').style.display == 'none' ?
        'block' : 'none';
    btnCreateUser.innerText =
        (document.getElementById('divCreateUser').style.display == 'none' ?
            'Create User' : 'Hide New User Form');
    return false;
}
</script>
<% if @params[:msg] != nil && @params[:msg] != '' %>
    <div class="alert alert-warning">
      <%= @params[:msg] %>
    </div>
<% end %>

<a href="javascript:toggleCreateUserDiv(); void(0);" class="btn btn-primary" id="btnCreateUser">Create User</a>
<a href="javascript:document.getElementById('filterRow').style.display = 'table-row'; void(0);" class="btn btn-secondary">
  Filter Data
</a>

<br />
<div id="divCreateUser" style="display: none; margin-top: 20px; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px; border: solid 1px black;">
<h1 style="margin-left: 10px; margin-bottom: 20px;">Create User</h1>

<form method="post" action="/user-save/new">
  <div class="col-6">
    <div class="form-group">
      <label>User ID</label>
      <input name="id" id="field_id" required="required" class="form-control" onblur="if (document.getElementById('field_display').value=='') { document.getElementById('field_display').value = document.getElementById('field_id').value; }" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input name="pw" type="password" required="required" class="form-control" /><!-- pattern="^\+[0-9]{11,12}$" title="+971501545643"-->
    </div>
    <div class="form-group">
      <label>Email</label>
      <input name="email" type="email" class="form-control" />
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input name="phone" type="tel" class="form-control" />
    </div>
    <div class="form-group">
      <label>Display Name</label>
      <input name="display" id="field_display" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Role</label>
      <select name="rolename" class="form-control">
        <% @roles.each do |iterrole| %>
            <option><%= iterrole %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="col-6">
  </div>
  <div>
    <input type="submit" value="Save User" class="btn btn-primary" style="margin-left: 20px">
  </div>
</form>
</div>


<h1 style="margin-top: 20px; margin-bottom: 20px;">User List</h1>

<table class="table table-striped">
  <thead class="thead-inverse">
  <tr>
    <th>User ID</th>
    <th>Role</th>
    <!-- <th>Email</th> -->
    <th>Display Name</th>
    <!-- <th>Phone</th> -->
    <!--
    <th>Actions</th>
    -->
  </tr>
  </thead>
  <tbody>
  <tr id="filterRow" style="<%= @params[:applyFilter] == '1' ? 'display: table-row;' : 'display: none;' %>">
    <form method="get" action="<%= request.url %>">
      <td><input name="username" value="<%= @params[:username] %>" placeholder="Filter by username" class="form-control" /></td>
      <td><input name="rolename" value="<%= @params[:rolename] %>" placeholder="Filter by rolename" class="form-control" /></td>
      <!--
      <td><input name="email" value="<%= @params[:email] %>" placeholder="Filter by email" class="form-control" /></td>
      -->
      <td><input name="display" value="<%= @params[:display] %>" placeholder="Filter by display" class="form-control" /></td>
      <td>
        <!--
        <input name="phone" value="<%= @params[:phone] %>" placeholder="Filter by phone" class="form-control" />
        -->
        <!-- Place a hidden submit button to enable Enter-to-submit in Chrome -->
        <input type="hidden" name="applyFilter" value="1" /><input type="submit" style="display: none;" />
      </td>
    </form>
  </tr>
  <% @list.each do |iter| %>
      <tr>
        <td>
          <a href="/user-detail/<%= iter[:username] %>">
            <%= iter[:username] %>
          </a>
        </td>
        <td>
          <%= iter[:rolename] %>
        </td>
        <!--
        <td>
          <%= iter[:email] %>
        </td>
        -->
        <td>
          <%= iter[:display] %>
        </td>
        <!--
        <td>
          <%= iter[:phone] %>
        </td>
        -->
        <!--
        <td>
          lastlogin
        </td>
        -->
        <!--
        <td>
          <a href="/user-admin-resetpass/<%= iter[:username] %>" class="btn btn-primary btn-sm">Reset Password</a>
          <a href="/user-deactivate/<%= iter[:username] %>" class="btn btn-primary btn-sm">Deactivate</a>
        </td>
        -->
      </tr>
  <% end%>
  </tbody>
</table>
