<h1 style="margin-top: 20px; margin-bottom: 20px;">User Profile</h1>

<% if @params[:msg] != nil && @params[:msg] != '' %>
    <div class="alert alert-warning">
      <%= @params[:msg] %>
    </div>
<% end %>

<%
fields = {
    'display' => 'Display Name',
    'phone' => 'Phone',
    'email' => 'Email',
    'rolename' => 'Role',
}
%>

<form method="post" action="#">

<%
  fields.each do |colname,labeltxt|
%>
<div class="row" style="margin-bottom: 10px">
  <div class="col-2 col-md-4 col-sm-2" style="font-weight: bold;"><%= labeltxt %></div>
  	<% if ['rolename'].include? colname %>
  <div class="col-4 col-md-8 col-sm-10">
  		<span class="form-control"><%= @rec[colname] %></span>
  	<% else %>
	<div class="col-4 col-md-8 col-sm-10">
    	<input name="<%= colname %>" value="<%= @rec[colname] %>" class="form-control" />
  	<% end %>
  </div>
</div>
<% end %>


	<div class="form-group">
		<label>Add ticket details after saving</label>
		<input type="checkbox" name="ticket_details" <%= @rec[:ticket_details] == false || @rec[:ticket_details].nil? ? '' : ' checked="checked"' %> style="margin-left: 20px" />
	</div>

<div style="margin-top: 20px">
  <input type="submit" value="Save" class="btn btn-primary" style="margin-right: 8px">
	<a href="/change-password" class="btn btn-secondary">Change Password</a>
</div>

</form>


